<div id="page1" class="tb-content-bg">
  <div id="page1-content" class= "container"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>A team of self confessed geeks who are all about</h3>
         <h3>great digital design</h3>
         </br></br>
         <a href="" ng-click="linkTo('/#page2')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
     
    </div>
  </div>
</div>
</div>
<div id="page2" class="tb-content">
  <div id="page2-content" class= "container"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Some agencies love design, but don't kow how to <span class="text-color">build</span></h2>
        </br></br>
         <a href="" ng-click="linkTo('/#page3')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
   
    </div>

  </div>
</div>

<div id="page3" class="tb-content">
  <div id="page3-content" class= "container"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Some agencies know how to <span class="text-color">build</span>, but don't kow how to design</h2></br></br>
         <a href="" ng-click="linkTo('/#page4')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </div>
    

  </div>
</div>

<div id="page4" class="tb-content-bg">
  <div id="page4-content" class= "container"></div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>We love <span class="text-color">both</span></h2></br></br>
         <a href="" ng-click="linkTo('/#page5')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </div>
    

  </div>
</div>

<div id="page5" class="tb-content">
  <div id="page5-content" class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
         <h1>Services</h1>
         <div class="row text-center">
       <div class="col-lg-3">
        <div class="circle"></div>
        <p class="task">Web Development</p>
       </div>
       
       <div class="col-lg-3">
        <div class="circle"></div>
        <p class="task">Design</p>
       </div>
       <div class="col-lg-3">
        <div class="circle"></div>
        <p class="task">Branding</p>
       </div>
        <div class="col-lg-3">
          <div class="circle"></div>
          <p class="task">UX Research</p>
       </div></br></br>
         <a href="" ng-click="linkTo('/#page6')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </div>
    </div>

  </div>
</div>

<div id="page6" class="tb-content">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
       <h1>Clients</h1>
       <div class="row">
       <div class="col-lg-4">
        <p class="task">Company1</p>
       </div>
       <div class="col-lg-4">
        <p class="task">Company2</p>
       </div>
       <div class="col-lg-4">
        <p class="task">Company3</p>
       </div>
     </div></br></br>
         <a href="" ng-click="linkTo('/#page7')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </div>
    </div>

  </div>
</div>

<div id="page7" class="tb-content">
  <div class= "container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>How to find us</h1>
      </div>
       </div>
    

  </div>
       
         <div id="map"></div></br></br>
         <div class="col-lg-12 text-center">
         <a href="" ng-click="linkTo('/#page8')" class="dropdown-circle">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
     </div>
</div>

<div id="page8" class="tb-content">
  <div class= "container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

       <h1>Contact</h1>
       <form id="contactForm">
       <div class="form-group">
        <input type="text" id="name" class="form-control" placeholder="Name"></input>
        </div>
        <div class="form-group">
        <input type="text" id="email" class="form-control" placeholder="Email"></input>
        </div>
        
        <textarea class="form-control" rows="6" placeholder="Message"></textarea>
        <button type="button" id="form-button" class="btn btn-primary btn-lg btn-block">Send Message!</button>
       </form>
       <p class="task">Or phone on: 01923 220121</p>
      </div>
    </div>

  </div>
</div>